name: Java CI with Quarkus

on:
  push:
    branches:
        - main 
  pull_request:
    branches:
        - main

env:
  QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://localhost:5433/estacionarapido

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run postgres service
        run: docker compose up -d estaciona-postgres
      - name: Build with Maven and run Unit Tests
        run: ./mvnw test
      - name: Run Integration Tests
        run: ./mvnw verify -DskipITs=false